

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h4 {
  margin-bottom: 10px;

}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

nav ul li {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #eeeeee;
  display: block;
  padding: 10px;
  background-color: #393939;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
nav ul li a:hover {
  background-color: #fcfcfc;
  color: #000;
}
header {
    position: relative
  background-image: url("https://placehold.it/600");
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header h1 {
  padding: 0;
  margin: 0;
}
header h2 {
  display: none;
}
.header-text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 30px 30px 0;
}
main {
  border: 1px solid #aaaaaa
  margin: 60px auto;
  width: 80%;
  margin: 0 auto;
  box-shadow: 5px 10px 12px #393939;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  width: 24em;
  margin: 10px;
  position: relative;
    margin: 0 auto;
  box-shadow: 5px 10px 12px #393939;
}
.img-wrapper {
  width: 20em;
  margin: 0 auto;
}
.img-wrapper img{
  display: block;
  max-width: 100%;
}
.overlay {
  position: absolute;
  border: 2px solid #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(to bottom, #f9f9f9b9, #112233);
color: #fff;
font-weight: 600;
transition: all 200 ms ease-in-out;
}
.overlay:hover {
  opacity: 1;
}
.icon {
  padding: 5px;
  font-size: 1.6em;
}
.icon:hover {
  color: yellow;
  cursor: pointer;
}
.social ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}
.social ul a {
  text-decoration: none;
}
footer {
  background-color: #aaaaaa;
  padding: 20px;
}
.footer-content {
  display: flex;
flex-flow: row wrap;  justify-content: space-around;
}
.footer-content li {
  line-height: 1.6em;
}

.copy {
  background-color: gray;
  padding: 5px;
  color: #fff;
  font-weight: 600;
font-size: .8em;
text-align: center;
}